* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 600px;
    margin: 100px auto;
}

.box-forms {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}

.button {
    width: 70px;
    height: 40px;
}