* {
    margin: 20px;
    padding: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
}

.product {
    border: 1px solid #000;
    height: 100px;
    width: 100px;

    grid-column: span 5;
}