* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

.container {
    width: 400px;
    min-height: 400px;
    background-color: rgb(126, 168, 168);
    margin: 100px auto;
}

.vizible {
    display: flex;
    align-items: center;
    gap: 40px;

    height: 100px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    position: relative;

    &__text {
        position: absolute;
        width: 120px;
        top: 20px;
        left: 100px;
    }
}

.block {
    height: 140px;
    padding: 20px;
    border: 1px solid #000;
    transition: all 0.5s ease;
}

.vizible__icon {
    width: 60px;
    height: 60px;
    background-color: rgb(69, 82, 94);
    border-radius: 100%;

    position: absolute;
    top: 20px;
    left: 0;

    transition: all 0.2s ease;
}


.hidden {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    display: none;
    

    transition: all 0.5s ease;
}

.hidBlock {
    width: 300px;
    height: 60px;
    background: black;
    position: absolute;

    left: calc(50% - 150px);
    
}


.block:hover .vizible {
    height: 160px;
    gap: 10px;

    // text-align: center;

    align-items: flex-start;

    &__icon {
        left: calc(180px - 30px);
    }

    &__text {
        top: 90px;
        left: calc(50% - 60px);
        text-align: center;
    }
} 

.block:hover {
    height: 480px;
}

.block:hover .hidden{
    transition: all 0.2s ease;
    display: flex;
    height: 350px;
    opacity: 0;
    opacity: 1;
}


.block:hover .hidden :nth-child(1) {
    top: 0px;
}
.block:hover .hidden :nth-child(2) {
    top: 90px;
}
.block:hover .hidden :nth-child(3) {
    top: 180px;
}