* {
    box-sizing: border-box;
}

.content {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.block {
    width: 300px;
    height: auto;

    border: 1px solid #000;
}

.block img {
    max-width: 100%;
}

.text {
    padding: 50px 50px;
}

.dog img {
    height: 300px;
}